:root {
  --black: #121616;
  --dark-gray: #374045;
  --light-pink: #FDEDF2;
  --hot-pink: #FF0090;
  --teal: #0099B8;
  --orange: #FFB703;
}

#boot-screen {
  font-family: 'Courier New', monospace;
  white-space: pre;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  background-color: #000;
  height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  background-color: var(--black);
  color: var(--hot-pink);
}

#boot-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  color: var(--hot-pink);
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.desktop {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.icon-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: calc(100vh - 50px); /* Adjust based on taskbar height */
  padding: 10px;
  box-sizing: border-box;
}

.icon {
  width: 80px;
  height: auto;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  
}

.icon i {
  font-size: 32px;
  margin-bottom: 2px;
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px; /* Make sure this matches the height subtracted in .icon-container */
  background-color: var(--hot-pink);
  display: flex;
  align-items: center;
  border-top: 2px solid black;
  z-index: 1000;
}

.start-button {
  width: 80px;
  height: 36px;
  background-color: white;
  color: var(--hot-pink);
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.clock {
  margin-left: auto;
  margin-right: 10px;
  font-size: 14px;
  color: var(--light-pink);
}

.window {
  width: 400px;
  height: 300px;
  background-color: var(--light-pink);
  position: absolute;
  top: 50px;
  left: 50px;
  border: 2px solid --hot-pink;
  z-index: 100;
  display: none;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: larger;
  text-shadow: 
    -2px -2px 0 var(--hot-pink),  
    2px -2px 0 var(--hot-pink),
    -2px 2px 0  var(--hot-pink),
    2px 2px 0  var(--hot-pink);
}

.window-header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FCF1DA;
  padding: 5px;
  font-weight: bold;
  cursor: move;
  display: flex;
  justify-content: space-between;
}

.window-content {
  padding: 20px;
  height: calc(100% - 100px);
  overflow-y: auto;
}

.close-button {
  cursor: pointer;
}

.window-title {
  font-size: 18px;
  margin-bottom: 10px;
  src: url(./public/Digitalism.ttf);
}

.window-text {
  margin-bottom: 20px;
}

.window-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--hot-pink);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}